<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.edgon.medicahospitalaria"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZU8B0tixNZBsKYe2vMYg82CSB94LdXwg"/>

        <activity android:name=".views.views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RefenceActivity"
            android:label="@string/title_activity_refence"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity android:name=".login.patient.CreateAcountActivity">
        </activity>
        <activity
            android:name=".views.views.ListMedic"
            android:parentActivityName=".views.views.MainActivity">
        </activity>
        <activity android:name=".views.views.DetailMedic">
        </activity>
    </application>

</manifest>